In [2]:
import pandas as pd

In [3]:
agw0 = pd.read_stata("agw2000.dta")
agw1 = pd.read_stata("agw2001.dta")
agw2 = pd.read_stata("agw2002.dta")
agw3 = pd.read_stata("agw2003.dta")
agw4 = pd.read_stata("agw2004.dta")
agw5 = pd.read_stata("agw2005.dta")
agw6 = pd.read_stata("agw2006.dta")
agw7 = pd.read_stata("agw2007.dta")
agw8 = pd.read_stata("agw2008.dta")
agw9 = pd.read_stata("agw2009.dta")
agw10 = pd.read_stata("agw2010.dta")
agw11 = pd.read_stata("agw2011.dta")
agw11 = pd.read_stata("agw2011.dta")
agw12 = pd.read_stata("agw2012.dta")
agw13 = pd.read_stata("agw2013.dta")
agw14 = pd.read_stata("agw2014.dta")
agw15 = pd.read_stata("agw2015.dta")
agw16 = pd.read_stata("agw2016.dta")
agw17 = pd.read_stata("agw2017.dta")
agw18 = pd.read_stata("agw2018.dta")

agwlist = [agw0, agw1, agw2, agw3, agw4, agw5, agw6, agw7, agw8, agw9,
          agw10, agw11, agw12, agw13, agw14, agw15, agw16, agw17, agw18]

In [69]:
def calcNetWorth(row):
    wealth = (row["b1b"] + row["b2b"] + row["b3b"] + row["b4b"] + row["b6b"] + row["b7b"] + row["b8b"] + row["b12b"] 
              + row["b13b"] + row["b14b"] + row["b15b"] + row["b16b"] + row["b17b"] + row["b18b"] + 
             row["b19ogb"] + row["b19hyb"] + row["b20b"] + row["b21b"] + row["b22b"] + row["b23b"] +
             row["b24b"] + row["b25b"])
    debt = (row["s1b"] + row["s2b"] + row["s3b"] + row["s4b"] + row["s5b"] + row["s6b"] + row["s7b"] + row["s8b"])
    
    # Door te checken of b26ogb > -1 zorg ik dat enkel rows zonder NaN hier worden gebruikt. Ze zijn of volledig Nan of niet
    if row["b26ogb"] > -1:
        wealth += row["b26ogb"] + row["b27ogb"]
        debt += row["b26hyb"] + row["b27hyb"]
        if (x.index == "b26vzb"):
            wealth += row["b26vzb"] + row["b27vzb"]
            
    if x.index == "h19vzb":
        wealth += row["b19vzb"]
    
    if x.index == "b28b":
         wealth += row["b28b"] + row["b29b"] + row["b30b"]
    
    if x.index == "x1b":
        debt += row["x1b"]
    netWorth = wealth - debt
    
    if x.index == "b11b":
        wealth += row["b11b"]

    return netWorth

In [70]:
for x in agwlist:
    x = x[x.b1b.notnull()]
    if x.index == "b11b":
        x = x[x.b11b.notnull()]

/home/niels/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/base.py:3846: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = op(self.values, np.asarray(other))

In [71]:
for x in agwlist:
    x["netWorth"] = x.apply(calcNetWorth, axis = 1)

/home/niels/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/base.py:3846: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = op(self.values, np.asarray(other))

In [73]:
def dummyGroup(row):
    if row["b26oga"] == 1:
        return 1
    else:
        return 0

In [75]:
for x in agwlist:
    x["treated"] = x.apply(dummyGroup, axis = 1)

In [76]:
agw0["year"] = 2000
agw1["year"] = 2001
agw2["year"] = 2002
agw3["year"] = 2003
agw4["year"] = 2004
agw5["year"] = 2005
agw6["year"] = 2006
agw7["year"] = 2007
agw8["year"] = 2008
agw9["year"] = 2009
agw10["year"] = 2010
agw11["year"] = 2011
agw12["year"] = 2012
agw13["year"] = 2013
agw14["year"] = 2014
agw15["year"] = 2015
agw16["year"] = 2016
agw17["year"] = 2017
agw18["year"] = 2018

In [80]:
agw0.to_stata("agw2000.dta")
agw1.to_stata("agw2001.dta")
agw2.to_stata("agw2002.dta")
agw3.to_stata("agw2003.dta")
agw4.to_stata("agw2004.dta")
agw5.to_stata("agw2005.dta")
agw6.to_stata("agw2006.dta")
agw7.to_stata("agw2007.dta")
agw8.to_stata("agw2008.dta")
agw9.to_stata("agw2009.dta")
agw10.to_stata("agw2010.dta")
agw11.to_stata("agw2011.dta")
agw12.to_stata("agw2012.dta")
agw13.to_stata("agw2013.dta")
agw14.to_stata("agw2014.dta")
agw15.to_stata("agw2015.dta")
agw16.to_stata("agw2016.dta")
agw17.to_stata("agw2017.dta")
agw18.to_stata("agw2018.dta")

In [5]:
agw = pd.concat(agwlist)

In [6]:
agw.to_stata("agw00-18.dta")

In [4]:
agw10.netWorth

0       212750.000000
1        23749.999512
2         1150.000000
3       197972.000000
4            0.000000
5         4167.999756
6        41337.946045
7       235859.997803
8         3523.000000
9         -750.000000
10       20716.000000
11      483943.015625
12      217685.000000
13           0.000000
14       42327.000000
15       80750.000000
16        5852.500000
17        2274.999878
18      219526.983887
19        6417.564072
20      364480.000000
21        4944.000000
22      420500.000000
23        4810.000244
24       64125.001953
25           0.000000
26       90856.015625
27       38200.000028
28      -11196.780426
29       81750.000000
            ...
2186              NaN
2187              NaN
2188              NaN
2189              NaN
2190              NaN
2191              NaN
2192              NaN
2193              NaN
2194              NaN
2195              NaN
2196              NaN
2197              NaN
2198              NaN
2199              NaN
2200              NaN
2201              NaN
2202              NaN
2203              NaN
2204              NaN
2205              NaN
2206              NaN
2207              NaN
2208              NaN
2209              NaN
2210              NaN
2211              NaN
2212              NaN
2213              NaN
2214              NaN
2215              NaN
Name: netWorth, Length: 2216, dtype: float64

In [11]:
means = agw0.groupby("treated")["netWorth"].mean()

In [15]:
data = {
    "year" : [1,2,3,4]
}
data["year"].append(5)
print(data["year"])

[1, 2, 3, 4, 5]

In [27]:
means = agw0.groupby("treated")["netWorth"].mean()

In [28]:
print(means)

treated
0     49898.036478
1    459857.070072
Name: netWorth, dtype: float64

In [29]:
data = {
    "year" : [],
    "controlGroup" : [],
    "treatmentGroup" : []
}
year = 2000
for x in agwlist:
    means = x.groupby("treated")["netWorth"].mean()
    print(means)
    data["year"].append(year)
    year += 1
    data["controlGroup"].append(means[0])
    data["treatmentGroup"].append(means[1])

treated
0     49898.036478
1    459857.070072
Name: netWorth, dtype: float64
treated
0     54270.211033
1    516378.642355
Name: netWorth, dtype: float64
treated
0     49262.318206
1    508504.372924
Name: netWorth, dtype: float64
treated
0     22177.316263
1    221435.619622
Name: netWorth, dtype: float64
treated
0     24347.757056
1    228138.888204
Name: netWorth, dtype: float64
treated
0     24027.295059
1    238721.270544
Name: netWorth, dtype: float64
treated
0     23951.999188
1    251272.912565
Name: netWorth, dtype: float64
treated
0     24413.580111
1    264627.753846
Name: netWorth, dtype: float64
treated
0     27907.192232
1    272022.148156
Name: netWorth, dtype: float64
treated
0     34243.676014
1    269338.766520
Name: netWorth, dtype: float64
treated
0    3.038469e+04
1    5.487676e+08
Name: netWorth, dtype: float64
treated
0     33900.677034
1    287586.649334
Name: netWorth, dtype: float64
treated
0     38268.861677
1    280092.368467
Name: netWorth, dtype: float64
treated
0     27067.070869
1    231617.892784
Name: netWorth, dtype: float64
treated
0     30064.745881
1    222804.722229
Name: netWorth, dtype: float64
treated
0     30746.016925
1    238020.112883
Name: netWorth, dtype: float64
treated
0     30237.137836
1    248988.556938
Name: netWorth, dtype: float64
treated
0     28603.262694
1    245795.215315
Name: netWorth, dtype: float64
treated
0     25457.813864
1    253416.698089
Name: netWorth, dtype: float64

In [30]:
means = pd.DataFrame(data, columns = ["year", "controlGroup", "treatmentGroup"])

In [31]:
print(means)

    year  controlGroup  treatmentGroup
0   2000  49898.036478    4.598571e+05
1   2001  54270.211033    5.163786e+05
2   2002  49262.318206    5.085044e+05
3   2003  22177.316263    2.214356e+05
4   2004  24347.757056    2.281389e+05
5   2005  24027.295059    2.387213e+05
6   2006  23951.999188    2.512729e+05
7   2007  24413.580111    2.646278e+05
8   2008  27907.192232    2.720221e+05
9   2009  34243.676014    2.693388e+05
10  2010  30384.694411    5.487676e+08
11  2011  33900.677034    2.875866e+05
12  2012  38268.861677    2.800924e+05
13  2013  27067.070869    2.316179e+05
14  2014  30064.745881    2.228047e+05
15  2015  30746.016925    2.380201e+05
16  2016  30237.137836    2.489886e+05
17  2017  28603.262694    2.457952e+05
18  2018  25457.813864    2.534167e+05

In [32]:
means.to_stata("means.dta")

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988],
           dtype='int64', length=1989)